<div class="productsListHeader grid">
    <div class="productsListSortOutfit">
        <div class="product-list-view-and-sort">
            <div class="secondary-button product-image-view outfit selected">Product view</div>
            <div class="secondary-button product-image-view product">Outfit View</div>
            <div class="sort-by float-left" id="sort-by">
                <form id="product-list-price-filter" method="get" name="formPrice" action="/gb/en/d/Shop/Clothing/All">

                    <select name="sortOrder">
                        <option value="">Sort by</option>

                        <option value="new-in">New in</option>

                        <option value="high">Price High to Low</option>
                        <option value="low">Price Low to High</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
    <div class="productsListTitle">
        <h1>What's New</h1>
        <div class="productsListResult">
            <span>{{allProducts.total}} Results</span>
        </div>

    </div>
    <div class="productsListPagination">
        123
    </div>
    <hr>

</div>
