<div class="productsList grid-fluid float-left" id="productList">
     <ul>
     {{#each allProducts.products}}
     <li class="">
         <img src="{{this.image.outfit}}">         
         <div class='brand'>{{this.brand_name}}</div>
         <p>{{this.name}}<br>{{this.price}}</p>
     </li>
     {{/each}}
 </ul>
</div>
