.productsList {
    font-family: $GillSans;
    font-size: 14px;
    width: 70%;
    float: left;
    ul {
        li{
            width: 33.33%;
            height: 350px;
            float: left;
            padding: 2%;
            list-style: none;
            .brand {
                font-family: GillSans,"Gill Sans MT",Calibri,sans-serif;
                font-size: 16px;
                font-weight: 800;
                text-transform: uppercase;
            }
            
            p {                
                font-size: 14px;
            }
            
        }
    }
}