.productsList {
    font-family: $GillSans;
    font-size: 14px;
    width: 80%;
    float: left;
    ul {
        li{
            width: 27.33%;
            height: 350px;
            float: left;
            margin: 3%;
            padding: 0 0 5% 5%;
            list-style: none;
//            text-align: center;
            .brand {
//                font-family: GillSans,"Gill Sans MT",Calibri,sans-serif;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
            }
            
            p {                
                font-size: 14px;
                word-wrap:break-word;
            }
            
        }
    }
}
