// General
$white:                #fff;
$black:                #000;
$grey:                 #8d8d8d;
$light-grey:		   #ccc;
$nav-border:           #b2b2b2;
$bg:                   $white;
$fg:                   $black;

// Carousel
$nav-color: 			$black;
$nav-width:				44px;
$nav-height:			44px;
$nav-font-size: 		38px;
$nav-margin: 			10px;
$nav-background: 		#bbb;
$nav-disabled-opacity: 	0.5;
$dot-container-height:  32px;
$dot-width:				10px;
$dot-height:			10px;
$dot-margin: 			5px 7px;
$dot-background:		$white;
$dot-background-active:	$black;

// FontAwesome vars
$angle-down:     if(global-variable-exists(fa-var-angle-down), $fa-var-angle-down, none) !default;
$angle-up:       if(global-variable-exists(fa-var-angle-up), $fa-var-angle-up, none) !default;
$angle-left:     if(global-variable-exists(fa-var-angle-left), $fa-var-angle-left, none) !default;
$angle-right:    if(global-variable-exists(fa-var-angle-right), $fa-var-angle-right, none) !default;
$facebook:       if(global-variable-exists(fa-var-facebook), $fa-var-facebook, none) !default;
$twitter:        if(global-variable-exists(fa-var-twitter), $fa-var-twitter, none) !default;
$google-plus:    if(global-variable-exists(fa-var-google-plus), $fa-var-google-plus, none) !default;
$tumblr:         if(global-variable-exists(fa-var-tumblr), $fa-var-tumblr, none) !default;
$pinterest:      if(global-variable-exists(fa-var-pinterest), $fa-var-pinterest, none) !default;
$weibo:          if(global-variable-exists(fa-var-weibo), $fa-var-weibo, none) !default;
$envelope:       if(global-variable-exists(fa-var-envelope), $fa-var-envelope, none) !default;

// Media queries breakpoints
$screen-xs-min:         480px !default;
$screen-sm-min:         768px !default;
$screen-md-min:         951px !default;
$screen-lg-min:         1200px !default;

$screen-xs-max:         ($screen-sm-min - 1) !default;
$screen-sm-max:         ($screen-md-min - 1) !default;
$screen-md-max:         ($screen-lg-min - 1) !default;

// Grid
$grid-columns:          12 !default;
$grid-gutter-width:     30px !default;

// Container sizes
$container-tablet:          (720px + $grid-gutter-width) !default;
$container-sm:              $container-tablet !default;

$container-desktop:         (900px + $grid-gutter-width) !default;
$container-md:              $container-desktop !default;

$container-large-desktop:   (1140px + $grid-gutter-width) !default;
$container-lg:              $container-large-desktop !default;

// Spacing classes
$left-space-vars: (0 left l, 5 left l, 10 left l, 15 left l, 20 left l, 25 left l, 30 left l, 40 left l, 60 left l);
$right-space-vars: (0 right r, 5 right r, 10 right r, 15 right r, 20 right r, 25 right r, 30 right r, 40 right r, 60 right r);
$bottom-space-vars: (0 bottom b, 5 bottom b, 10 bottom b, 15 bottom b, 20 bottom b, 25 bottom b, 30 bottom b, 40 bottom b, 60 bottom b);
$top-space-vars: (0 top t, 5 top t, 10 top t, 15 top t, 20 top t, 25 top t, 30 top t, 40 top t, 60 top t);
